.container {
    width: var(--container-width);
    margin-inline: auto;
}

.fullscreen-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('ваше-изображение.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) opacity(60%);
    z-index: -2;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 100%);
    pointer-events: none;
    z-index: -1;
}

.lastWord {
    color: var(--color-green);
}

.share-notification {
    position: fixed;
    left: 28%;
    top: 55%;
    transform: translateX(-50%);
    color: var(--color-green);
    background-color: rgba(29, 185, 84, 0.3);
    border: 2px solid #1DB954;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    z-index: 1000;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hoverBtn:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.error {
    color: red;
}